body {
  font-family: "Inter", sans-serif;
}

.title--bg {
  display: grid;
  place-items: center;
  background-color: #f55a5a;
  height: 10vh;
  font-size: 1.5rem;
}

#cards {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* justify-content: center; */
  align-items: center;
  gap: 2vh;
  margin: 2vh 0;
}

.card {
  display: flex;
  width: min(470px, 90vw);
  height: 168px;
  overflow: auto;
}

.card > img {
  max-width: max(10vw, 100px);
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card--location {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.card--location > a {
  color: #918e9b;
  font-size: 0.8rem;
}

.card--landmark {
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
}

.card--details {
  padding-left: 10px;
}

.card--dates {
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 4px;
}

.card--desc {
  font-size: 0.7rem;
}
